{% extends 'base.html' %} {% load static %} {% block content %}
<!--============= Cart Section Starts Here =============-->
<div class="cart-sidebar-area">
  <div class="top-content">
    <a href="index.html" class="logo">
      <img src="{% static  'images/logo/logo2.png' %}" alt="logo" />
    </a>
    <span class="side-sidebar-close-btn"><i class="fas fa-times"></i></span>
  </div>
  <div class="bottom-content">
    <div class="cart-products">
      <h4 class="title">Shopping cart</h4>
      <div class="single-product-item">
        <div class="thumb">
          <a href="#0"
            ><img src="{% static  'images/shop/shop01.jpg' %}" alt="shop"
          /></a>
        </div>
        <div class="content">
          <h4 class="title"><a href="#0">Color Pencil</a></h4>
          <div class="price">
            <span class="pprice">$80.00</span>
            <del class="dprice">$120.00</del>
          </div>
          <a href="#" class="remove-cart">Remove</a>
        </div>
      </div>
      <div class="single-product-item">
        <div class="thumb">
          <a href="#0"
            ><img src="{% static  'images/shop/shop02.jpg' %}" alt="shop"
          /></a>
        </div>
        <div class="content">
          <h4 class="title"><a href="#0">Water Pot</a></h4>
          <div class="price">
            <span class="pprice">$80.00</span>
            <del class="dprice">$120.00</del>
          </div>
          <a href="#" class="remove-cart">Remove</a>
        </div>
      </div>
      <div class="single-product-item">
        <div class="thumb">
          <a href="#0"
            ><img src="{% static  'images/shop/shop02.jpg' %}" alt="shop"
          /></a>
        </div>
        <div class="content">
          <h4 class="title"><a href="#0">Water Pot</a></h4>
          <div class="price">
            <span class="pprice">$80.00</span>
            <del class="dprice">$120.00</del>
          </div>
          <a href="#" class="remove-cart">Remove</a>
        </div>
      </div>
      <div class="single-product-item">
        <div class="thumb">
          <a href="#0"
            ><img src="{% static  'images/shop/shop02.jpg' %}" alt="shop"
          /></a>
        </div>
        <div class="content">
          <h4 class="title"><a href="#0">Water Pot</a></h4>
          <div class="price">
            <span class="pprice">$80.00</span>
            <del class="dprice">$120.00</del>
          </div>
          <a href="#" class="remove-cart">Remove</a>
        </div>
      </div>
      <div class="single-product-item">
        <div class="thumb">
          <a href="#0"
            ><img src="{% static  'images/shop/shop02.jpg' %}" alt="shop"
          /></a>
        </div>
        <div class="content">
          <h4 class="title"><a href="#0">Water Pot</a></h4>
          <div class="price">
            <span class="pprice">$80.00</span>
            <del class="dprice">$120.00</del>
          </div>
          <a href="#" class="remove-cart">Remove</a>
        </div>
      </div>
      <div class="single-product-item">
        <div class="thumb">
          <a href="#0"
            ><img src="{% static  'images/shop/shop02.jpg' %}" alt="shop"
          /></a>
        </div>
        <div class="content">
          <h4 class="title"><a href="#0">Water Pot</a></h4>
          <div class="price">
            <span class="pprice">$80.00</span>
            <del class="dprice">$120.00</del>
          </div>
          <a href="#" class="remove-cart">Remove</a>
        </div>
      </div>
      <div class="single-product-item">
        <div class="thumb">
          <a href="#0"
            ><img src="{% static  'images/shop/shop02.jpg' %}" alt="shop"
          /></a>
        </div>
        <div class="content">
          <h4 class="title"><a href="#0">Water Pot</a></h4>
          <div class="price">
            <span class="pprice">$80.00</span>
            <del class="dprice">$120.00</del>
          </div>
          <a href="#" class="remove-cart">Remove</a>
        </div>
      </div>
      <div class="single-product-item">
        <div class="thumb">
          <a href="#0"
            ><img src="{% static  'images/shop/shop03.jpg' %}" alt="shop"
          /></a>
        </div>
        <div class="content">
          <h4 class="title"><a href="#0">Art Paper</a></h4>
          <div class="price">
            <span class="pprice">$80.00</span>
            <del class="dprice">$120.00</del>
          </div>
          <a href="#" class="remove-cart">Remove</a>
        </div>
      </div>
      <div class="single-product-item">
        <div class="thumb">
          <a href="#0"
            ><img src="{% static  'images/shop/shop04.jpg' %}" alt="shop"
          /></a>
        </div>
        <div class="content">
          <h4 class="title"><a href="#0">Stop Watch</a></h4>
          <div class="price">
            <span class="pprice">$80.00</span>
            <del class="dprice">$120.00</del>
          </div>
          <a href="#" class="remove-cart">Remove</a>
        </div>
      </div>
      <div class="single-product-item">
        <div class="thumb">
          <a href="#0"
            ><img src="{% static  'images/shop/shop05.jpg' %}" alt="shop"
          /></a>
        </div>
        <div class="content">
          <h4 class="title"><a href="#0">Comics Book</a></h4>
          <div class="price">
            <span class="pprice">$80.00</span>
            <del class="dprice">$120.00</del>
          </div>
          <a href="#" class="remove-cart">Remove</a>
        </div>
      </div>
      <div class="btn-wrapper text-center">
        <a href="#0" class="custom-button"><span>Checkout</span></a>
      </div>
    </div>
  </div>
</div>
<!--============= Cart Section Ends Here =============-->

<!--============= Banner Section Starts Here =============-->
<section
  class="banner-section bg_img"
  data-background="{% static  'images/banner/banner-bg-1' %}.png"
>
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-lg-6 col-xl-6">
        <div class="banner-content cl-white">
          <h5 class="cate">Next Generation Auction</h5>
          <h1 class="title">
            <span class="d-xl-block">Find Your</span> Next Deal!
          </h1>
          <p>
            Online Auction is where everyone goes to shop, sell,and give, while
            discovering variety and affordability.
          </p>
          <a href="#0" class="custom-button yellow btn-large">Get Started</a>
        </div>
      </div>
      <div class="d-none d-lg-block col-lg-6">
        <div class="banner-thumb-2">
          <img src="{% static  'images/banner/banner-1.png' %}" alt="banner" />
        </div>
      </div>
    </div>
  </div>
</section>
<!--============= Banner Section Ends Here =============-->

<div class="browse-section ash-bg">
  <!--============= Hightlight Slider Section Starts Here =============-->
  <div class="browse-slider-section mt--140">
    <div class="container">
      <div class="section-header-2 cl-white mb-4">
        <div class="left">
          <h6 class="title pl-0 w-100">Browse the highlights</h6>
        </div>
        <div class="slider-nav">
          <a href="#0" class="bro-prev"><i class="flaticon-left-arrow"></i></a>
          <a href="#0" class="bro-next active"
            ><i class="flaticon-right-arrow"></i
          ></a>
        </div>
      </div>
      <div class="m--15">
        <div class="browse-slider owl-theme owl-carousel">
          <a href="{% url 'productView' "vehicles" %}" class="browse-item">
            <img src="{% static  'images/auction/01.png' %}" alt="auction" />
            <span class="info">Vehicles</span>
          </a>
          <a href="{% url 'productView' "jewelry" %}" class="browse-item">
            <img src="{% static  'images/auction/02.png' %}" alt="auction" />
            <span class="info">Jewelry</span>
          </a>
          <a href="{% url 'productView' "watch" %}" class="browse-item">
            <img src="{% static  'images/auction/03.png' %}" alt="auction" />
            <span class="info">Watches</span>
          </a>
          <a href="{% url 'productView' "Electronics" %}" class="browse-item">
            <img src="{% static  'images/auction/04.png' %}" alt="auction" />
            <span class="info">Electronics</span>
          </a>
          <a href="{% url 'productView' "Sports" %}" class="browse-item">
            <img src="{% static  'images/auction/05.png' %}" alt="auction" />
            <span class="info">Sports</span>
          </a>
          <a href="{% url 'productView' "Real Estate" %}" class="browse-item">
            <img src="{% static  'images/auction/06.png' %}" alt="auction" />
            <span class="info">Real Estate</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!--============= Hightlight Slider Section Ends Here =============-->

  <!--============= Car Auction Section Starts Here =============-->
  <section class="car-auction-section padding-bottom padding-top pos-rel oh">
    <div class="car-bg">
      <img src="{% static  'images/auction/car/car-bg.png' %}" alt="car" />
    </div>
    <div class="container">
      <div class="section-header-3">
        <div class="left">
          <div class="thumb">
            <img
              src="{% static  'images/header-icons/car-1.png' %}"
              alt="header-icons"
            />
          </div>
          <div class="title-area">
            <h2 class="title">Vehicles</h2>
            <p>We offer affordable Vehicles</p>
          </div>
        </div>
        <a href="{% url 'productView' "vehicles" %}" class="normal-button">View All</a>
      </div>
      <div class="row justify-content-center mb-30-none">
        {% for car in vehicle %}
        <div class="col-sm-10 col-md-6 col-lg-4">
          <div class="auction-item-2">
            <div class="auction-thumb">
              <a href="./product-details.html"
                ><img
                  src="{{car.image.url}}"
                  alt="car"
                  style="width: 330px; height: 247px"
              /></a>
              <a href="#0" class="rating"><i class="far fa-star"></i></a>
              <a href="#0" class="bid"><i class="flaticon-auction"></i></a>
            </div>
            <div class="auction-content">
              <h6 class="title">
                <a href="./product-details.html">{{car.name}}</a>
              </h6>
              <div class="bid-area">
                <div class="bid-amount">
                  <div class="icon">
                    <i class="flaticon-auction"></i>
                  </div>
                  <div class="amount-content">
                    <div class="current">Current Bid</div>
                    <div class="amount">${{car.price}}</div>
                  </div>
                </div>
                <div class="bid-amount">
                  <div class="icon">
                    <i class="flaticon-money"></i>
                  </div>
                  <div class="amount-content">
                    <div class="current">Buy Now</div>
                    <div class="amount">${{car.price}}</div>
                  </div>
                </div>
              </div>
              <div class="countdown-area">
                <div class="countdown">
                  <div>
                    Owner : <span style="color: pink">{{car.user}} </span>
                  </div>
                </div>
                <span class="total-bids">{{car.created.date}}</span>
              </div>
              <div class="text-center">
                <a href="{% url 'bid' car.id %}" class="custom-button"
                  >Submit A Bid</a
                >
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!--============= Car Auction Section Ends Here =============-->
</div>

<!--============= Jewelry Auction Section Starts Here =============-->
<section class="jewelry-auction-section padding-bottom padding-top pos-rel">
  <div class="jewelry-bg d-none d-xl-block">
    <img
      src="{% static  'images/auction/jewelry/jwelry-bg.png' %}"
      alt="jewelry"
    />
  </div>
  <div class="container">
    <div class="section-header-3">
      <div class="left">
        <div class="thumb">
          <img
            src="{% static  'images/header-icons/coin-1.png' %}"
            alt="header-icons"
          />
        </div>
        <div class="title-area">
          <h2 class="title">Jewelry</h2>
          <p>Online jewelry auctions where you can bid now and save money</p>
        </div>
      </div>
      <a href="{% url 'productView' "jewelry" %}" class="normal-button">View All</a>
    </div>

    <div class="row justify-content-center mb-30-none">
      {% for jewel in jewelry %}
      <div class="col-sm-10 col-md-6 col-lg-4">
        <div class="auction-item-2">
          <div class="auction-thumb">
            <a href="./product-details.html"
              ><img
                src="{{jewel.image.url}}"
                alt="jewel"
                style="width: 330px; height: 247px"
            /></a>
            <a href="#0" class="rating"><i class="far fa-star"></i></a>
            <a href="#0" class="bid"><i class="flaticon-auction"></i></a>
          </div>
          <div class="auction-content">
            <h6 class="title">
              <a href="./product-details.html">{{jewel.name}}</a>
            </h6>
            <div class="bid-area">
              <div class="bid-amount">
                <div class="icon">
                  <i class="flaticon-auction"></i>
                </div>
                <div class="amount-content">
                  <div class="current">Current Bid</div>
                  <div class="amount">${{jewel.price}}</div>
                </div>
              </div>
              <div class="bid-amount">
                <div class="icon">
                  <i class="flaticon-money"></i>
                </div>
                <div class="amount-content">
                  <div class="current">Buy Now</div>
                  <div class="amount">${{jewel.price}}</div>
                </div>
              </div>
            </div>
            <div class="countdown-area">
              <div class="countdown">
                <div>
                  Owner : <span style="color: pink">{{jewel.user}} </span>
                </div>
              </div>
              <span class="total-bids">{{jewel.created.date}}</span>
            </div>
            <div class="text-center">
              <a href="{% url 'bid' jewel.id %}" class="custom-button"
                >Submit A Bid</a
              >
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!--============= Jewelry Auction Section Ends Here =============-->

<!--============= Popular Auction Section Starts Here =============-->
<section class="popular-auction padding-top pos-rel" id="auction">
  <div
    class="popular-bg bg_img"
    data-background="{% static  'images/auction/popular/popular-bg.png' %}"
  ></div>
  <div class="container">
    <div class="section-header cl-white">
      <span class="cate">Closing Within 24 Hours</span>
      <h2 class="title">Popular Auctions</h2>
      <p>
        Bid and win great deals,Our auction process is simple, efficient, and
        transparent.
      </p>
    </div>
    <div class="popular-auction-wrapper">
      <div class="row justify-content-center mb-30-none">
        {% for item in items %}
        <div class="col-lg-6">
          <div class="auction-item-3">
            <div class="auction-thumb">
              <a href="./product-details.html"
                ><img src="{{item.image.url}}" alt="popular"
              /></a>
              <a href="#0" class="bid"><i class="flaticon-auction"></i></a>
            </div>
            <div class="auction-content">
              <h6 class="title">
                <a href="./product-details.html">{{item.name}}</a>
              </h6>
              <div class="bid-amount">
                <div class="icon">
                  <i class="flaticon-money" style="color: red"></i>
                </div>
                <div class="amount-content">
                  <div class="current" style="color: red">Current Price</div>
                  <div class="amount">${{item.price}}</div>
                </div>
              </div>
              <div class="bids-area">
                Uploaded At :
                <span class="total-bids">{{item.created.date}}</span>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<!--============= Popular Auction Section Ends Here =============-->

<!--============= How Section Starts Here =============-->
<section class="how-section padding-top">
  <div class="container">
    <div class="how-wrapper section-bg">
      <div class="section-header text-lg-left">
        <h2 class="title">How it works</h2>
        <p>Easy 3 steps to win</p>
      </div>
      <div class="row justify-content-center mb--40">
        <div class="col-md-6 col-lg-4">
          <div class="how-item">
            <div class="how-thumb">
              <img src="{% static  'images/how/how1.png' %}" alt="how" />
            </div>
            <div class="how-content">
              <h4 class="title">Sign Up</h4>
              <p>No Credit Card Required</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="how-item">
            <div class="how-thumb">
              <img src="{% static  'images/how/how2.png' %}" alt="how" />
            </div>
            <div class="how-content">
              <h4 class="title">Bid</h4>
              <p>Bidding is free Only pay if you win</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="how-item">
            <div class="how-thumb">
              <img src="{% static  'images/how/how3.png' %}" alt="how" />
            </div>
            <div class="how-content">
              <h4 class="title">Win</h4>
              <p>Fun - Excitement - Great deals</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--============= How Section Ends Here =============-->

<!--============= Client Section Starts Here =============-->
<section class="client-section padding-top padding-bottom">
  <div class="container">
    <div class="section-header">
      <h2 class="title">Don’t just take our word for it!</h2>
      <p>Our hard work is paying off. Great reviews from amazing customers.</p>
    </div>
    <div class="m--15">
      <div class="client-slider owl-theme owl-carousel">
        <div class="client-item">
          <div class="client-content">
            <p>
              I can't stop bidding! It's a great way to spend some time and I
              want everything on Sbidu.
            </p>
          </div>
          <div class="client-author">
            <div class="thumb">
              <a href="#0">
                <img
                  src="{% static  'images/client/client01.png' %}"
                  alt="client"
                />
              </a>
            </div>
            <div class="content">
              <h6 class="title"><a href="#0">Alexis Moore</a></h6>
              <div class="ratings">
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
              </div>
            </div>
          </div>
        </div>
        <div class="client-item">
          <div class="client-content">
            <p>
              I came I saw I won. Love what I have won, and will try to win
              something else.
            </p>
          </div>
          <div class="client-author">
            <div class="thumb">
              <a href="#0">
                <img
                  src="{% static  'images/client/client02.png' %}"
                  alt="client"
                />
              </a>
            </div>
            <div class="content">
              <h6 class="title"><a href="#0">Darin Griffin</a></h6>
              <div class="ratings">
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
              </div>
            </div>
          </div>
        </div>
        <div class="client-item">
          <div class="client-content">
            <p>
              This was my first time, but it was exciting. I will try it again.
              Thank you so much.
            </p>
          </div>
          <div class="client-author">
            <div class="thumb">
              <a href="#0">
                <img
                  src="{% static  'images/client/client03.png' %}"
                  alt="client"
                />
              </a>
            </div>
            <div class="content">
              <h6 class="title"><a href="#0">Tom Powell</a></h6>
              <div class="ratings">
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--============= Client Section Ends Here =============-->

{% endblock content %}
