{% extends 'base.html' %} {% load static %} {% block content %}

<!--============= Hero Section Starts Here =============-->
<div class="hero-section">
  <div class="container">
    <ul class="breadcrumb">
      <li>
        <a href="./index.html">Home</a>
      </li>
      <li>
        <a href="#0">Pages</a>
      </li>
      <li>
        <span>Sign In</span>
      </li>
    </ul>
  </div>
  <div
    class="bg_img hero-bg bottom_center"
    data-background="{% static 'images/banner/hero-bg.png' %}"
  ></div>
</div>
<!--============= Hero Section Ends Here =============-->

<!--============= Account Section Starts Here =============-->
<section class="account-section padding-bottom">
  <div class="container">
    <div class="account-wrapper mt--100 mt-lg--440">
      <div class="left-side">
        <div class="section-header">
          <h2 class="title">HI, THERE</h2>
          <p>You can log in to your Sbidu account here.</p>
        </div>
        <div class="or">
          <span>Or</span>
        </div>
        <form class="login-form" method="post">
          {% csrf_token %}
          <div class="form-group mb-30">
            <label for="login-email"
              ><i class="fa-regular fa-user" style="color: green"></i
            ></label>
            <input type="text" name="userName" placeholder="User Name" />
          </div>

          <div class="form-group mb-30">
            <label for="login-pass"><i class="fas fa-lock"></i></label>
            <input
              type="password"
              id="login-pass"
              name="password"
              placeholder="Password"
            />
            <span class="pass-type"><i class="fas fa-eye"></i></span>
          </div>

          <div class="form-group mb-10">
            <a href="#0">Forgot Password?</a>
          </div>
          <div class="form-group mb-0">
            <button type="submit" class="custom-button">LOG IN</button>
          </div>
        </form>
      </div>
      <div class="right-side cl-white">
        <div class="section-header mb-0">
          <h3 class="title mt-0">NEW HERE?</h3>
          <p>Sign up and create your Account</p>
          <a href="sign-up.html" class="custom-button transparent">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--============= Account Section Ends Here =============-->

{% endblock content %}
