{% extends 'base.html' %} {% load static %} {% block content %}
<!--============= Hero Section Starts Here =============-->
<div class="hero-section style-2">
  <div class="container">
    <ul class="breadcrumb">
      <li>
        <a href="./index.html">Home</a>
      </li>
      <li>
        <a href="#0">My Account</a>
      </li>
      <li>
        <span>Personal profile</span>
      </li>
    </ul>
  </div>
  <div
    class="bg_img hero-bg bottom_center"
    data-background="{% static 'images/banner/hero-bg.png' %}"
  ></div>
</div>
<!--============= Hero Section Ends Here =============-->

<!--============= Dashboard Section Starts Here =============-->
<section class="dashboard-section padding-bottom mt--240 mt-lg--440 pos-rel">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-10 col-md-7 col-lg-4">
        <div class="dashboard-widget mb-30 mb-lg-0 sticky-menu">
          <div class="user">
            <div class="thumb-area">
              <div class="thumb">
                <img src="{{user.image.url}}" alt="user" />
              </div>
              <label for="profile-pic" class="profile-pic-edit"
                ><i class="flaticon-pencil"></i
              ></label>
              <input type="file" id="profile-pic" class="d-none" />
            </div>
            <div class="content">
              <h5 class="title"><a href="#0">{{user.user.username}}</a></h5>
              <span class="username"> <a href="">{{user.user.email}}</a> </span>
            </div>
          </div>
          <ul class="dashboard-menu">
            <li>
              <a href="#0" class="active"
                ><i class="flaticon-settings"></i>Personal Profile
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-8">
        <div class="dashboard-widget mb-40">
          <div class="dashboard-title mb-30">
            <h5 class="title">My Activity</h5>
          </div>
          <div class="row justify-content-center mb-30-none">
            <div class="col-md-4 col-sm-6">
              <div class="dashboard-item">
                <div class="thumb">
                  <img src="{% static 'images/dashboard/01.png' %}" alt="dashboard" />
                </div>
                <div class="content">
                  <h2 class="title"><span class="counter">{{info.bids}}</span></h2>
                  <h6 class="info">Active Bids</h6>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="dashboard-item">
                <div class="thumb">
                  <img src="{% static 'images/dashboard/02.png' %}" alt="dashboard" />
                </div>
                <div class="content">
                  <h2 class="title"><span class="counter">{{info.mybid}}</span></h2>
                  <h6 class="info">My Bid</h6>
                </div>
              </div>
            </div>
            
          </div>
        </div>

      <div class="col-lg-12">
        <div class="row">
          <div class="col-12">
            <div class="dash-pro-item mb-30 dashboard-widget">
              <div class="header">
                <h4 class="title">Personal Details</h4>
                <span class="edit"><i class="flaticon-edit"></i> <a href="{% url 'update_profile' %}">Edit</a></span>
              </div>
              <ul class="dash-pro-body">
                <li>
                  <div class="info-name">Name</div>
                  <div class="info-value">
                    {{user.user.first_name}}&nbsp;{{user.user.last_name}}
                  </div>
                </li>
                <li>
                  <div class="info-name">Date of Birth</div>
                  <div class="info-value">{{user.dob}}</div>
                </li>
                <li>
                  <div class="info-name">Address</div>
                  <div class="info-value">{{user.address}}</div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-12">
            <div class="dash-pro-item mb-30 dashboard-widget">
              <div class="header">
                <h4 class="title">Account Settings</h4>
              </div>
              <ul class="dash-pro-body">
                <li>
                  <div class="info-name">Language</div>
                  <div class="info-value">English (United States)</div>
                </li>
                <li>
                  <div class="info-name">Aadhar</div>
                  <div class="info-value">{{user.addhar}}</div>
                </li>

                <li>
                  <div class="info-name">Status</div>
                  <div class="info-value">
                    <i class="flaticon-check text-success"></i> Active
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-12">
            <div class="dash-pro-item mb-30 dashboard-widget">
              <div class="header">
                <h4 class="title">Email Address</h4>
              </div>
              <ul class="dash-pro-body">
                <li>
                  <div class="info-name">Email</div>
                  <div class="info-value">
                    <a href="">{{user.user.email}}</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-12">
            <div class="dash-pro-item mb-30 dashboard-widget">
              <div class="header">
                <h4 class="title">Phone</h4>
              </div>
              <ul class="dash-pro-body">
                <li>
                  <div class="info-name">Mobile</div>
                  <div class="info-value">{{user.phone}}</div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--============= Dashboard Section Ends Here =============-->
{% endblock content %}
